@font-face {
  font-family: 'theRambler';
  src: url('the_rambler.woff'), format('woff');
  src: url('the_rambler.ttf') format('truetype');
  src: url('the_rambler.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
