// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$body-font-family: 'IBM Plex Mono', 'monospace';

$heading-font-family: 'IBM Plex Sans', 'sans-serif';

$badge-height: 30px;
$badge-min-width: 30px;
$badge-border-radius: 100%;
$badge-padding: 10px 10px;
$carousel-controls-bg: rgba(255, 255, 255, 0) !default;

